

{% block content %}
{% load mathfilters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>  
<html lang="en">  
   <head>  
     <meta charset="UTF-8">   
      {% load static %}  
     <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
   </head>

  <body>
    <div class="navbar" id="myHeader">
      <div>
       <a href="{% url 'eventlist' %}">لیست رویدادها</a>
       <a href="{% url 'event' %}">ثبت رویداد </a>
       
       
      </div>
       <a href="{% url 'logout' %}" class="right">خروج</a>
    </div>
  <form method="get" > 
    <div class="search">
        <div class="row">
          <div class="rowelement">
            {{ myFilter.form.day_of_start| as_crispy_field }} 
          </div>
          <div class="rowelement">
            {{ myFilter.form.day_of_start_gt| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.day_of_start_lt| as_crispy_field }}
          </div >
          <div class="rowelement">
           {{ myFilter.form.mounth_of_start| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.mounth_of_start_gt| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.mounth_of_start_lt| as_crispy_field }}
          </div> 
          <div class="rowelement">
            {{ myFilter.form.hour_of_start| as_crispy_field }}
          </div> 
          <div>
            {{ myFilter.form.hour_of_end| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.day_of_end| as_crispy_field }}
          </div> 
          <div class="rowelement">
            {{ myFilter.form.mounth_of_end| as_crispy_field }}
          </div class="rowelement"> 
          <div class="rowelement">
            {{ myFilter.form.city| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.Connection| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.mainproblem| as_crispy_field }}
          </div>
          <div class="rowelement">
            {{ myFilter.form.detailproblem| as_crispy_field }}
          </div>
          <div class="searchbutton">
            <button type="submit" class="button">Search</button>
          </div>
          <div class="downloadcsvbutton">
            <a class="button" href="{% url 'get_csv' %}?{{ request.GET.urlencode }}">Download CSV</a>
          </div>
          
        </div>
    </div>
  </form>
    <div >
      <table class="table table-striped table-bordered table-sm">
          <thead class="thead-dark">
              <tr>
                 <th scope="col"> شناسه </th>
                 <th scope="col" class ="grey" > سال شروع </th>
                 <th scope="col" class ="grey" > ماه شروع</th>
                 <th scope="col" class ="grey" > روز شروع</th> 
                 <th scope="col" class ="grey" >  ساعت شروع</th>
                 <th scope="col" class ="grey" >  دقیقه شروع</th>


                  <th scope="col" class ="blue" > سال  پایان</th>
                  <th scope="col" class ="blue" >ماه پایان</th>  
                  <th scope="col" class ="blue" > روز پایان</th>  
                  <th scope="col" class ="blue" > ساعت پایان</th>
                  <th scope="col" class ="blue" >دقیقه پایان </th>


                  <th scope="col">مدت زمان  </th>
                  <th scope="col">مشکل اصلی  </th>
                  <th scope="col">جزییات  </th>
                  <th scope="col">بانک </th>
                  <th scope="col">تصویر </th>  
                  <th scope="col">شهر </th>
                  <th scope="col">نوع ارتباط </th>
                  <th scope="col">IncidentID</th>
                  <th scope="col">DownTime</th>
                 

                  <th scope="col">کارشناس</th>
                  <th scope="col">کارشناس</th>
                  <th scope="col">کارشناس</th>
                  <th scope="col">کارشناس</th>
                  
                  
                  <th scope="col">سایر</th>
                  <th scope="col">SMS</th>
                  <th scope="col">شرح وقایع</th>
                  
                  <th scope="col">اقدام</th>
                   
                  
                </tr>  
          </thead>
          <tbody>  
              {% for event in events %}  
                 <tr>
                  <td>{{ event.id }}</td> 
                  <td class="grey" >{{ event.year_of_start }}</td> 
                  <td class="grey" >{{ event.mounth_of_start }}</td> 
                  <td class="grey" >{{ event.day_of_start }}</td>
                  <td class="grey" >{{ event.hour_of_start }}</td>  
                  <td class="grey" >{{ event.minute_of_start }}</td>

                  <td class="blue" >{{ event.year_of_end }}</td> 
                    
                  <td class="blue" >{{ event.mounth_of_end }}</td>  
                  <td class="blue" >{{ event.day_of_end }}</td>
                   
                  <td class="blue" >{{ event.hour_of_end }}</td>  
                  <td class="blue" >{{ event.minute_of_end }}</td>
                  
                  {% if  event.deltatime > 0  %}
                    <td >{{ event.deltatime }}</td>
                   
                  {% else %}
                    <td class="red">{{ event.deltatime }}</td>
                  {% endif %}
                  <td>{{ event.mainproblem }}</td> 
                  <td>{{ event.detailproblem }}</td> 
                  <td>{{ event.Bank }}</td> 
                  <td>
                     {% if event.image %}
                         <a href="{{event.image.url}}" download="{{event.image.url}}">Download</a> 
                     {% endif %}
         
                  </td>
                  <td>{{ event.city }}</td> 
                  <td>{{ event.Connection }}</td>  
                  <td>{{ event.IncidentID }}</td> 
                  <td>{{ event.DownTime }}</td> 
                  


                  <td>{{ event.Assign_to_name1 }}</td> 
                  <td>{{ event.Assign_to_name2 }}</td> 
                  <td>{{ event.Assign_to_name3 }}</td> 
                  <td>{{ event.Assign_to_name4 }}</td> 
                  
                  <td>{{ event.Assigng_to_others }}</td> 
                  <td>{{ event.SMS }}</td> 
                  <td>{{ event.description }}</td>
                  
                  

                 
                  <td>  
                     <a href="/eventedit/{{event.id}}"><span class="button" >Edit</span></a>  
                     
                     <a href="/eventdelete/{{ event.id }}"><span class="del-button" >Delete</span></a>  
                     
                  </td>
                  
                  
                 </tr>  
              {% endfor %}
            
                
               
          </tbody>
      </table>

      
       
    </div>
        
  </body>












</html> 
{% endblock %} 
